{# -*- mode:web -*- engine:django -*- #}
{% extends "gallery/gallery_base.html" %}
{% load static %}

{% block title %}
    {{ gallery_title }}
{% endblock %}

{% block header %}

    <script type="text/javascript" src="{% static 'gallery/js/infinite_scroll.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}

{% endblock %}

{% block bar_title %}
    <div id="title">{{ gallery_title }}</div>
{% endblock %}

{% block content %}

<div id="image_container">

  {% for album in object_list %}
    {% include "gallery/partials/album.html" %}  
  {% endfor %}

</div>

{% endblock %}
