{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ album.title }}
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/gallery.css' %}">
    <script type="text/javascript" src="{% static 'gallery/justify_images.js' %}"></script>
    <style>
        .thumbnail {
            height: {{ thumbnail_size }}px;
        }
    </style>
{% endblock %}


{% block content %}

<h2>{{ album.title }}</h2>

{% for image in album.images.all %}

    <div id="thumbnail_container">

        <a href="{% url 'gallery:album_image_detail' album.pk image.pk image.slug %}">

            {% include "gallery/thumbnail.html" %}

        </a>

    </div>

{% endfor %}

{% endblock %}