{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ album.title }}
{% endblock %}

{% block header %}

    <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}">
    <script type="text/javascript" src="{% static 'gallery/js/image_upload.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}

{% endblock %}


{% block content %}

<h2>{{ album.title }}</h2>

{% include "gallery/partials/image_upload_form.html" %}

<div id="image_container">

    {% for image in album.images.all %}

        <a href="{% url 'gallery:album_image_detail' album.pk image.pk image.slug %}">

            {% include "gallery/partials/thumbnail.html" %}

        </a>

    {% endfor %}

</div>

{% endblock %}