{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Gallery
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/gallery.css' %}">
{% endblock %}


{% block content %}

<h2>Gallery</h2>

{% for album in object_list %}
    <a href="{% url 'gallery:album_detail' album.pk album.slug  %}">

        {% if album.highlight %}
            {% with album.highlight as image %}
                {% include "gallery/thumbnail.html" %}
            {% endwith %}
        {% endif %}

    </a>
{% endfor %}

{% endblock %}