{% extends "gallery/gallery_base.html" %}
{% load staticfiles %}

{% block title %}
    {% if album %}{{ album.title }} - {% endif %}{{ image.title }}
{% endblock %}

{% block header %}

    <script type="text/javascript">
        {% if previous_image %}
            previous_image_url = '{% url 'gallery:album_image_detail' apk previous_image.pk previous_image.slug %}#image_{{ previous_image.pk }}';
        {% endif %}
        {% if next_image %}
            next_image_url = '{% url 'gallery:album_image_detail' apk next_image.pk next_image.slug %}#image_{{ next_image.pk }}';
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static 'gallery/js/image_navigation.js' %}"></script>
    <style>
    body, html {
        height: 100%;
        overflow: hidden;
    }
    #footer {
        display: none;
    }
    #content {
        padding-bottom: 0;
        width: 100%;
    }
    </style>

{% endblock %}

{% block bar_title %}
    <div id="title">{% if album %} {{ album.title }} - {% endif %} {{ image.title }}</div>
{% endblock %}

{% block content %}

<!--
<h3 id="album_subheading">{{ album.title }}</h3>
<h2>{{ image.title }}</h2>
-->

<a href="{{ image.data.url }}">
    <img id="image_preview" src="{{ image.data_preview.url }}" alt="{{ image.title }}"/>
</a>

<div id="album_preview">
{% if album_images %}

    {% for image in album_images %}
        <a href="{% url 'gallery:album_image_detail' apk image.pk image.slug %}#image_{{ image.pk }}" style="display: inline-block;">
            {% include 'gallery/partials/thumbnail_preview.html' %}
       </a>
    {% endfor %}

{% elif albums %}

    {% for album in albums %}

        {% with album.display_highlight as image %}

        <a href="{% url 'gallery:album_detail' album.pk album.slug  %}" style="display: inline-block;">
            {% include 'gallery/partials/thumbnail_preview.html' %}
        </a>

        {% endwith %}

    {% endfor %}


{% endif %}
 </div>

<!--
Camera: {{ image.exif.Make|title }} {{ image.exif.Model }}
Lens: {{ image.exif.LensModel }}
Focal Length (35mm): {{ image.exif.FocalLengthIn35mmFilm }}mm
Aperture: F/{{ image.exif.Aperture }}
Exposure: {{ image.exif.Exposure }}s
ISO: {{ image.exif.ISOSpeedRatings }}
-->

{% endblock %}