{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/gallery.css' %}">
    <script type="text/javascript" src="{% static 'gallery/image_upload.js' %}"></script>
    {% include "gallery/partials/justify_images.html" %}
{% endblock %}

{% block content %}

{% include "gallery/partials/image_upload_form.html" %}

<div id="image_container">

    {% for image in image_list %}

        <a href="{% url 'gallery:image_detail' image.pk image.slug %}">

            {% include "gallery/partials/thumbnail.html" %}

        </a>

    {% endfor %}

</div>

{% endblock %}