
#image_container{
    display: inline-block;
}

.thumbnail {
    float: left;
    margin-bottom: 2px;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    opacity: 0;
    transition: all .15s ease-in-out;

}
.overlay:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5));
    opacity: 1;
}
.overlay .label {
    position: absolute;
    bottom: 0;
    margin: 0 0 5% 6%;
    color: #eee;
    font-size: 1em;
    opacity: 0;
}
.overlay:hover .label {
    opacity: 1;
}

#album_preview {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}