html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #222;
    color: #eee;
    margin: 0;
}

#top_bar {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    background-color: #111;
    position: fixed;
    z-index: 1;

}

#logo {
    width: 12em;
    float: left;
}

#title {
    color: white;
    padding: 0.9em 0 1em 12.8em;
    white-space: nowrap;

}

#content {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3.4em 0 6em 0;
}

#footer {
    position: absolute;
    width: auto;
    left: 0; right: 0; bottom: 0;
    padding: 1em 1em 1em 2em;
    margin-top: 1em;
    background-color: #181818;
    color: #ddd;
}

#album_subheading {
    float: right;
}

a {
    color: #888;
    text-decoration: none;
}

h2, h3 {
    margin: 0 0 1em 0;
}


@media only screen and (max-width: 800px) {

	#main_container{
	    width: revert;
	}



}

