# Workflow to install Python dependencies, run tests and coverage

name: Django Starcross Gallery Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Build and install package
      run: |
        python -m pip install --upgrade pip
        ./build.sh
        pip install --find-links --no-index ./django-starcross-gallery django-starcross-gallery
        pip install coveralls
    - name: Test wih coverage 
      run: |
        coverage run --source=gallery runtests.py
